.tabs {
    background: #2980b9;
    text-align: center;
    padding: 10px 0;
}

.tabs button {
    background: none;
    border: none;
    padding: 10px 20px;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
    box-shadow: none;
}

.tabs button:hover {
    background: #3498db;
}

.dropTableRow > span.pct {
    width: 80px;
    display: inline-block;
    text-align: center;
}

.filters {
    text-align: center;
}

.editDialog {
    position: absolute;
    background: white;
    z-index: 9999;
    width: 980px;
    left: 50%;
    margin-left: -520px;
    padding: 20px;
    background: rgba(255,255,255,0.95);
    max-height: calc(100% - 140px);
    overflow-y: auto;
}

.app {
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    bottom: 0;
    background: white;
    overflow-y: auto;
    padding: 8px;
}

.app > div {
    margin-bottom: 8px;
    padding: 20px;
    background: #2e96ad;
    color: white;
    cursor: pointer;
    border-radius: 4px;
}

.app > div:hover, button:hover {
    background: #3498db;
}

.app > div > *:not(.dropTableRow) {
    width: 300px;
    display: inline-block;
}

.dropTableRow {
    margin-left: 10px;
}

button {
    background: #2e96ad;
    border: none;
    padding: 10px 40px;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    border-radius: 4px;
    box-shadow: 0 0 15px -5px black;
}

button.destructive {
    background: #ac2424;
    margin-left: 10px;
}

button.destructive:hover {
    background: #cf1313;
}

button.neutral {
    background: #6c8797;
    margin-right: 10px;
}

button.neutral:hover {
    background: #709cb6;
}

input[type=text], input[type=number], select, textarea {
    width: 350px;
    height: 36px;
    padding: 0 5px;
    box-sizing: border-box;
    margin-bottom: 5px;
}

.objective input[type=text], .objective input[type=number], .objective select, .objective textarea {
    width: 160px;
}

textarea {
    height: 80px;
}

label {
    width: 180px;
    display: inline-block;
    vertical-align: top;
}

.usableBy {
    padding: 10px 0;
}

.usableBy label {
    width: auto;
    margin-right: 10px;
}

.usableText {
    width: 180px;
    display: inline-block;
}

.tint {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.8);
}
